.login-modal-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.3);
}

.login-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vw;
    width: 80vw;
    background-color: aliceblue;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#close-modal-button {
    position: absolute;
    top: 15px;
    left: 15px;
}

.login-label {
    margin-bottom: 10px;
}

.login-input {
    margin-bottom: 30px;
    height: 30px;
}
