.deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 15rem;
    background-color: rgb(229, 243, 214);
    margin: 10px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
}
