.deck-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 79vh;
    width: 100vw;
    overflow: scroll;
    padding: 1rem;
    background-color: var(--background);
    // z-index: -10;
}

.deck-container::-webkit-scrollbar {
    display: none;
}

.deck-container.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.deck-container-heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 3vh;
    flex-direction: column;
    margin-top: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
