.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-color: aqua;
}

.title {
    font-size: 30px;
}

.loginButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

#home-button {
    position: absolute;
    top: 15px;
    left: 15px;
}

#create-button {
    top: 50px;
}
